#Library {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 0;
  padding: 0;
  background: url("../../public/Pics/LibraryBackground.jpg");
  background-size: contain;
  font-family: "Knewave", cursive;
  input {
    margin-top: 20px;
    padding: 5px 10px;
  }
  #libraryAndList {
    width: 80%;
    display: flex;
    margin: 50px;
  }
  #Fav-List {
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    height: fit-content;
    padding: 4rem;
    width: 400px;
    margin-top: 10em;
    margin-left: 4.25rem;
    border-radius: 20px;
  }
  #SearchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Fav-List * {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  #Fav-List ol li {
    display: flex;
    align-items: center;
    margin: 5rem 0px;
  }
  #Fav-List h2 {
    font-size: 16px;
    margin-left: 18px;
  }
  #Fav-List img {
    height: 80px;
    width: 80px;

    border-radius: 50%;
  }
  ul {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(194, 217, 238, 0.664);
  }
  li {
    list-style-type: none;
  }
  .containero {
    width: 100%;
    height: fit-content;
  }

  label {
    margin-top: 50px;
    padding: 20px;
    border-radius: 150px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 1000px;
  }
  label button {
    border: none;
    color: #4d4879;
    font-size: 51px;
    background-color: transparent;
    transform: skew(-23deg, 11deg);
    margin: 20px;
    margin-top: 50px;
    transition: 0.4s all;
    cursor: pointer;
  }
  label button:hover {
    transform: skew(0deg, 0deg);
  }
  input {
    width: 300px;
    display: flex;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.849);
    border: 2px solid #df50af;
    color: #a0993f;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(11, 10, 50, 0.72);
    height: 58px;
    transform: skew(-6deg, 3deg);
    font-family: "Knewave", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.7s all;
  }
  input::placeholder {
    letter-spacing: 17px;
  }
  input:focus,
  input:valid {
    outline: 2px groove #b97357;
    transform: skew(0deg, 0deg);
  }
  .card {
    background-color: rgba(221, 224, 221, 0.781);
    border: 0;
    box-shadow: 0 17px 7px rgba(0, 0, 0, 0.18);
    margin: 1em auto;
  }
  .card.dark {
    width: fit-content;
    color: #7f9c48;
    display: flex;
  }

  .card img {
    height: 210px;
    border-radius: 20px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 521px;
  }
  #Price {
    color: #696969;
    font-size: 20px;
  }
  .card-title {
    text-align: center;
  }
  .text-section {
    font-size: 17px;
    text-align: left;
  }
  .cta-section {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    overflow: visible;
  }
  .cta-section i {
    font-size: 40px;
    cursor: pointer;
    color: #df50af;
    height: fit-content;
    transition: all 0.45s;
  }
  .cta-section i:hover {
    font-size: 42px;
    transform: translate(0px, -10px);
  }
  .cta-section .btn {
    padding: 20px;
    margin: 20px;
    width: 100px;
    color: #696969;
    background-color: rgb(253, 253, 253);
    border-radius: 30px;
  }
}
#cart-favSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Cart-Section {
  width: 400px;
  margin-left: 70px;
  height: fit-content;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #a2c3da 0%, #b9d3c6 65%);
}
#Cart-Section {
  ol {
    width: 100%;
    padding: 10px;
  }
  h3 {
    color: #ffffff;
    background: transparent;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  }
  li {
    margin: 10px;
    background-color: #aa89e671;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 1px #000000;
    display: flex;
    align-items: center;
    div[data-price] {
      h2 {
        font-size: 17px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      h4 {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
      span {
        text-decoration: underline wavy rgb(35, 44, 56) 5px;
        font-size: 24px;
      }
      button {
        background-color: transparent;
        border-radius: 50%;
        border: none;
        border-bottom: #151615 3px solid;
        border-top: transparent 3px solid;
        width: 40px;
        margin: 10px;
        height: 40px;
        font-size: 30px;
        line-height: 1;
        cursor: pointer;
        transition: 0.25s all;
      }
      button:hover {
        border-bottom: transparent 3px solid;
        border-top: #4d4879 3px solid;
      }
      button[data-action="+"]:hover {
        transform: scale(1.1) rotate(5deg);
      }
      button[data-action="-"]:hover {
        transform: scale(1.1) rotate(-5deg);
      }
      button:focus {
        -webkit-box-shadow: 5px 5px 15px 1px #814343;
        box-shadow: 5px 5px 15px 1px #000000;
      }
      i{
        cursor: pointer;
        transition: 0.45s all;
        margin-left: 20px;
      }
      i:hover{
        transform: translate(1px,-10px);
        transform: scale(1.7) ;

      }
    }
  }
}
#cart {
  display: flex;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 14px;
  }
  div[data-price]{
    width: 100%;
  }
}
